:root {
  --font-color: #1a100f;
  --button-color: #b59a7c;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --add-color: #f65282;
}

.hero {
  background-color: #f2e7df;
  background-image: url(background-1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  padding: 260px 0;
  max-height: 900px;
}

h1,
h2,
p,
.btn-branding,
h3 {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--font-color);
}
.main-page-text {
  font-family: var(--secondary-font);
  font-style: normal;
  color: var(--font-color);
  font-size: 18px;
  line-height: 1.25;
  text-align: center;
  padding: 0px 50px 5%;
}

h1,
h2,
.btn-branding,
h3 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
h2 {
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-size: 46px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
}

h1 {
  font-size: 72px;
  line-height: 84px;
  padding: 25px 0;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  padding: 0 20%;
}

.btn-branding {
  background: var(--button-color);
  font-family: var(--secondary-font);
  border-radius: 50px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding: 18px 30px;
  margin-top: 48px;
}
.grid-img {
  display: flex;
  width: 100%;
  max-height: auto;
}

body {
  background: #f2e7df;
}

@media (max-width: 1400px) {
  .about-info .about-h1 h1 {
    font-size: 36px;
    line-height: 50px;
    padding-top: 20px;
    padding-bottom: 22px;
  }

  .about-info p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 30px;
  }
  .about-info ul {
    margin-bottom: 28px;
  }
  .red-second h5 {
    margin-bottom: 18px;
  }
  .camera {
    padding: 13px;
  }
  .camera p {
    font-size: 14px;
  }
  .camera ul {
    width: 330px;
  }
}
@media (max-width: 1000px) {
  h1 {
    font-size: 62px;
    padding: 15px 0;
  }
  h3 {
    font-size: 40px;
  }
  h2 {
    font-size: 22px;
  }

  .hero {
    max-height: 800px;
  }
  .red-text h5 {
    font-size: 16px;
  }

  .about-info .about-h1 h1 {
    font-size: 30px;
    line-height: 40px;
    padding-top: 16px;
    padding-bottom: 18px;
  }

  .about-info p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 22px;
  }
  .about-info ul {
    margin-bottom: 22px;
  }
  .red-second {
    display: none;
  }
  .camera {
    display: none;
  }

  .work-section h1 {
    margin-bottom: 80px;
    font-size: 60px;
  }
  .credits p {
    display: none;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 48px;
    padding: 10px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 32px;
  }

  .hero {
    padding: 180px 0;
    max-height: 700px;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  .main-page-text {
    font-size: 16px;
  }
  .about-picture {
    display: none;
  }

  .hello-block {
    display: inline;
    text-align: center;
  }
  .hello-block p {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .about-info .about-h1 h1 {
    padding-left: 0px;
  }
  .about-info {
    text-align: center;
  }
  .work-section h1 {
    margin-bottom: 60px;
    font-size: 52px;
  }
  .work-section .col-sm-6 {
    margin-bottom: 20px;
  }

  .main-gallery img {
    padding-top: 25px;
  }
  .footer-invisible {
    display: none;
  }

  .credits p {
    display: none;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 38px;
    padding: 0px;
  }
  .col-sm-6 {
    padding-top: 15px;
  }
  .hero {
    padding: 130px 0;
    max-height: 600px;
  }
  .non-visible {
    display: none;
  }
  .visible {
    width: 65%;
    display: block;
    margin: 0 auto;
  }
  .about-portfolio {
    margin: 20px;
  }
  .work-section .col-sm-6 {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
  body .contact-h1 h1 {
    padding-bottom: 80px;
  }
  .footer-invisible {
    display: none;
  }

  .credits p {
    display: none;
  }
}

@media (max-width: 458px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 14px;
  }
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 12px;
  }
  .main-page-text {
    font-size: 12px;
  }
  .hero {
    padding: 100px 0;
    max-height: 500px;
  }
  body .contact-h1 h1 {
    padding-bottom: 60px;
  }
  .footer-invisible {
    display: none;
  }

  .credits p {
    display: none;
  }
}

.about-picture {
  padding-left: 0px;
}
.about-picture img {
  max-height: 780px;
}

.red-text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--add-color);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.red-first {
  margin-top: 51px;
}

.about-info {
  padding-left: 40px;
}

.about-h1 h1 {
  padding-top: 32px;
  padding-bottom: 34px;
  font-size: 54px;
  line-height: 75px;
  color: var(--font-color);
  margin-bottom: 0px;
}

.hello-block {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.about-text {
  font-family: var(--font-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 50px;
  width: 100%;
}

.social-icons li {
  display: inline-block;
  padding-right: 30px;
}

.social-icons a {
  font-size: 16px;
  line-height: 18px;
  color: var(--font-color);
}
.social-icons {
  padding-left: 0px;
  margin-bottom: 66px;
}
.camera p {
  margin-bottom: 0px;
}

.camera li {
  display: inline-block;
}
.camera ul {
  padding-left: 0px;
  margin-bottom: 0px;
}
.camera {
  padding: 20px;
  background: #5b5151;
  width: 435px;
}

.camera-text {
  font-family: var(--main-font);
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  padding-left: 30px;
  padding-right: 0px;

  text-align: left;
  margin-bottom: 0px;
}

.red-second {
  margin-bottom: 32px;
}

.about-portfolio {
  margin-top: 100px;
  margin-bottom: 100px;
}

.work-h1 {
  text-align: center;
  padding-top: 32px;
  margin-bottom: 166px;
}
.work-section .row {
  margin-bottom: 40px;
}

.last-work-row {
  padding-bottom: 60px;
}

.contact-h1 h1 {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 142px;
  margin-bottom: 0px;
}

.contact-red-text {
  color: var(--add-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.contact-regular-text,
.contact-regular-text a {
  color: var(--font-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 40px;
  text-decoration: none;
}

.contact-regular-text a:hover {
  font-size: 22px;
}
.contact-phone {
  padding-bottom: 45px;
}
.logo {
  max-height: 22px;
}

.navbar {
  background: var(--button-color);
}

.nav-item {
  margin: 0px 10px;
}

.nav-item a {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--font-color);
}

footer li {
  display: inline-block;
  list-style: none;
  padding: 2px 15px;
}

footer a {
  color: var(--font-color);
  font-size: 16px;
}

footer a:hover {
  color: var(--font-color);
  opacity: 0.7;
}
footer {
  padding: 10px;
  background: var(--button-color);
}
footer ul {
  margin-bottom: 0px;
}
.index-last-row {
  margin-bottom: 100px;
}

.credits {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 0px;
}
.credits p {
  margin-bottom: 0px;
  padding: 0px;
}
